body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f5f5;
}


.imageNormal {
  width: 300px;
  height: auto;
}


.imageLarge {
  width: 450px;
  height: auto;
}

.imageSmall {
  width: 200px;
  height: auto;
}

#time {
  font-weight: bold;
  color: red;
  font-size: 20px;
}

#quizResult {
  font-size: 18px;
  font-weight: bold;
}
